body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at top, #1E90FF, #0e008a),
                radial-gradient(ellipse at bottom, rgb(105, 180, 255), transparent);
}

div.outer-container {
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid pink;
    width: 700px;
    padding: 50px;
}

div.outer-container div#timer-container {
    font-family: 'Fjalla One', serif;
    margin: 0 0 10px 0;
    font-size: 30pt;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
  
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}   